<div class="container">
  {{!-- top row --}}
  <div class="row m-1 p-1 text-center">
      <div class="col text-center">
      <img src="/assets/img/burger.jpeg" alt="picture of a burger">
      </div>
  </div>

    


    {{!-- middle row  --}}
    <div class="row text-center">
      <div class="col">
        {{!-- created burger  --}}
        <h2>Available Burgers</h2>
        <ul>
          {{#each burgers}}
          {{#unless devoured}}
          <li>{{burger_name}}</li>
          <button class="change-devour" data-id="{{id}}" data-devoured="{{devoured}}">
            Devour!
          </button>
          {{/unless}}
          {{/each}}
        </ul>
      </div>
      <div class="col">
        <form id="spongebobform">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Eat Da Burgarrr!</label>
            <textarea class="form-control text-center" id="input" rows="1" placeholder="Name of the burger" required></textarea>
            <button type="submit" id="createButton" class="btn btn-primary m-2">Submit</button>
            <br>
          </div>
          <img id="bob" src="/assets/img/krabby-patty.jpg"
        </form>
      </div>
      <div class="col">
        {{!-- Devoured burers  --}}
        <h2>Devoured Burgers</h2>
        <ul>
          {{#each burgers}}
          {{#if devoured}}
          <li>{{burger_name}}</li>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
    {{!-- bottom row  --}}
    <div class="row m-5 p-5 text-center">
      <div class="col"></div>

    </div>
</div>